{%load static%}
<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-pause="true">
            <div class="carousel-caption d-none d-md-block rounded-2">
                <h2 >Huiles Essentielles </h2>
                <p >
                    Nos huiles essentielles sont toutes 100% pures et naturelles. Elles sont vendues comme « matières
                    premières » pour réaliser vos mélanges. Chaque utilisation principale est indiquée sur les fiches
                    produits : diffusion, inhalation, application cutanée en dilution. Nos huiles essentielles répondent
                    à tous les critères de qualité et sont toutes H.E.B.B.D, botaniquement et biochimiquement définies.
                    Nos huiles essentielles sont toutes classées sous la législation CLP, et respectent ces normes
                    européennes entrées en vigueur depuis juin 2015. De la production à la vente des huiles
                    essentielles, chaque étape de fabrication est extrêmement contrôlée afin de vous apporter la plus
                    grande qualité au meilleur prix.
                
                </p>
            </div>
        </div>
        <div class="carousel-item" data-pause="true">
            <div class="carousel-caption d-none d-md-block">
                <h2 >Huiles Essentielles BIO </h2>
                <p >Nos huiles essentielles BIO sont certifiées par l'organisme de certification ECOCERT en agriculture
                    biologique FR-BIO 01, afin de garantir qualité et traçabilité, 100% pures et naturelles, 100% BIO !
                    Nos huiles essentielles BIO sont classées sous la législation des arômes alimentaires et sont
                    H.E.B.B.D, botaniquement et biochimiquement définies. Nos huiles essentielles BIO sont toute
                    sélectionnées pour leur qualité et leur conformité à la réglementation en vigueur.

                    .</p>
            </div>
        </div>
        <div class="carousel-item" data-pause="true">
            <div class="carousel-caption d-none d-md-block">
                <h2 >Huiles Végétales 
                </h2>
                <p >Nos huiles végétales sont toutes 100% pures et naturelles. Elles sont vendues comme « matières
                    premières » pour être utilisées en mélange avec des huiles essentielles. Ce sont des huiles de
                    "base" qui vous permettront de les diluer pour confectionner vos propres mélanges. Chaque huile
                    végétale est obtenue par l'extraction à froid de la partie de la plante (graine, noyau, pépins) et
                    possède sa particularité et ses qualités propres... Le choix d'une huile végétale dépend donc de
                    l'usage que l'on souhaite en faire. Nos huiles végétales sont toutes choisies sur des critères de
                    qualité.


                </p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>